gcc_linux-64
python>=3.6,<3.9
cartopy
cvxopt
dask>=1.0
dask-jobqueue>=0.3
defusedxml
h5py<3
lxml
matplotlib
numpy
pip
pyproj
scikit-image
scipy
gdal
isce2
cython
setuptools
# pyaps dependencies
cdsapi
ecCodes
netcdf4
pygrib
pyhdf
# pyresample dependencies
pyresample
openmp
pykdtree
xarray
zarr
# MinSAR dependencies
git
natsort
bokeh
qt
boto3
botocore
pdbpp
